 * {
            box-sizing: border-box;
        }

        body {
            background-color: #FECB74;
            color: #fff;
            font-family: 'Poppins', sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            text-align: center;
            padding: 20px;
        }
        
        h1 {
            font-size: 50px;
            margin-bottom: 20px;
        }

        img {
            height: 250px;
            border-radius: 15px;
            margin-bottom: 20px;
        }

        .inputs {
            margin: 20px 0;
        }

        input {
            padding: 10px 15px;
            margin: 10px;
            border: none;
            border-radius: 10px;
            font-size: 16px;
            width: 200px;
            max-width: 80%;
        }

        button {
            background-color: #ffffff;
            color: #2e2e2e;
            padding: 12px 30px;
            font-size: 16px;
            border: none;
            border-radius: 25px;
            cursor: pointer;
        }

        button:hover {
            background-color: #eeeeee;
            transform: scale(1.05);
        }
